<div class="form-container">
    <form [formGroup]="myForm" class="add-exam flex flex-col" (ngSubmit)="submitHandler()">
        <h3>Add new exam</h3>

        <mat-form-field appearance="fill">
            <mat-label>Lesson</mat-label>
            <mat-select matInput formControlName="lessonId" required>
                <mat-option *ngFor="let lesson of (lessonDataSource.lessons$ | async) " [value]="lesson.id">
                    {{lesson.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="myForm.get('lessonId')?.hasError('required')">Lesson is required.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Students</mat-label>
            <mat-select matInput formControlName="studentIds" required multiple>
                <mat-option *ngFor="let student of (studentDataSource.students$ | async) " [value]="student.id">
                    {{student.firstName}} {{student.lastName}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="myForm.get('studentIds')?.hasError('required')">Students is required.</mat-error>
            <mat-error *ngIf="myForm.get('studentIds')?.hasError('atLeastOneRequired')">At least one student is
                required</mat-error>
        </mat-form-field>
        <!-- <mat-form-field appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput formControlName="date" required>
            <mat-error *ngIf="myForm.get('date')?.hasError('required')">Date is required.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" required>
            <mat-error *ngIf="myForm.get('date')?.hasError('required')">Date is required.</mat-error>
        </mat-form-field> -->

        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" [min]="tomorrow | date: 'yyyy-MM-dd'">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid">Add exam</button>
    </form>
</div>