<div class="flex flex-row justify-between">
    <h3>Exam results</h3>
    <button mat-raised-button color="primary" (click)="addNewExamHandler()">Add new exam</button>
</div>
<div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Exam ID </th>
            <td mat-cell *matCellDef="let exam"> {{exam.id}} </td>
        </ng-container>

        <ng-container matColumnDef="lessonName">
            <th mat-header-cell *matHeaderCellDef> Lesson </th>
            <td mat-cell *matCellDef="let exam"> {{exam.lessonName}} </td>
        </ng-container>

        <ng-container matColumnDef="studentName">
            <th mat-header-cell *matHeaderCellDef> Student </th>
            <td mat-cell *matCellDef="let exam"> {{exam.studentName}} </td>
        </ng-container>


        <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef> Score </th>
            <td mat-cell  *matCellDef="let exam"> {{exam.score}}
                <button mat-raised-button (click)="openDialog(exam)" >{{
                    exam.score!==null?"Change score":"Add score"
                }}</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let exam"> {{exam.date}} </td>
        </ng-container>

      
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let exam">
                <mat-icon class="clickable" color="warn" (click)="deleteExam(exam.id)" fontIcon="delete"></mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>